html {
  background: url(../images/cliff.jpg) no-repeat top left;
}

#bear {
  position: absolute;
  top: 100px;
  right: 0;
}

/* Write your solution here */
@media (min-width:800px) {
#bear {
  position:absolute;
  margin-top:82px;
  margin-right:4px;
  bottom:40px;
}
}
@media (max-width:1196px) {
  #bear {
  position:relative;
  width:800px;
}
  
}