html {
  background: url(../images/croc.jpg) no-repeat top left;
}

#ostrich {
  position: absolute;
  top: 50px;
  right: 0;
}

/* Write your solution here */
@media (min-width:800px) {
#ostrich {
  position:relative;
  margin-top:82px;
  margin-right:4px;
  bottom:40px;
}
}
